/* #69696a  nav links for grey
#000 for black
#FFF  buttons   */


* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f9fafc;
    color:#000;
    width:90%;
    margin: 0 auto;
}

h1 {
    font-size:12px;   
}

ul {
    list-style-type:none;
    padding:0; 
    margin: 0;
}

a {
    text-decoration:none;
    color:#69696a;
}

.button {
    display:block;
    border-radius:15px;
    padding:5px;
    text-align:center;
    background-color:black;
}

.btnColor {
    color:white;
    
}  

p {margin-left:5px;
    border-left:2px solid #69696a;
    padding-left:10px;
}


@media only screen and (min-width:768px) {

    div {
        padding: 0;
        margin: 0;
    }

    body {
        width:90%;

    }

header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px;
    margin-top:5px;
}


ul {
    display:flex;
    margin-right:10px;
}

li {
    padding:5px;
    align-items:center;
    text-align:center;
}

.circle {
    height:100px;
    width:100px;
    border: 1px solid black;
    border-radius:50%
}

.flex {
    display:flex;
}

p {
    
}

.section_one {
    width:50%;
}

.section_two {
    position:relative;
    width:50%;
}

.one {
    height:300px;
    width:300px;
    position:absolute;
    right:8%;
    top: 10%;
    background-color:  rgba(247, 136, 167, 0.6);
}

.two {
    height:250px;
    width:250px;
    position:absolute;
    top:25%;
    right:1%;
    background-color: rgba(247, 193, 162, 0.7);
}

.three {
    height:200px;
    width:200px;
    position:absolute;
    right:1%;
    background-color: rgba(207, 130, 213, 0.6);
}

.fixed {
    width: 100px;
    position:fixed;
    left: 50%;
    transform:translateX(-50%);
    bottom: 1%;
}
}
