/* how would I position so the circles container stays proportionate to the screen
rather than use pixel? When I tried it for div_one, it worked for left but not for bottom or top, making it jump and not move past a certain point. */
/* also why does my bottom button change in mobile too when I only changed its position value and everything else in desktop? */
* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f9fafc;
    color:#000;
    width:90%;
    margin: 0 auto;
}

.two {display:none;}

h1 {
    font-size:12px;   
}

ul {
    list-style-type:none;
    padding:0; 
    margin: 0;
}

a {
    text-decoration:none;
    color:#69696a;
}

.button {
    display:block;
    border-radius:15px;
    padding:5px;
    text-align:center;
    background-color:black;
}

.btnColor {
    color:white;
    
}  

p {margin-left:5px;
    border-left:2px solid #69696a;
    padding-left:10px;
}

@media only screen and (min-width: 768px) {


header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:10px;
    
}

ul {
    display:flex;
    align-items:center;
}

li {
    text-align:center;
    padding: 0px 5px;
}

.section {
    width:50%;
    display:inline-block;
}

}

.section.one {
    margin-top: 100px;
}

.section.two {
    position:relative;
    width:30%

}

.circles {
    position:relative;
}

.two div {
    border-radius:50%;
}

.div_one {
    background-color:rgba(247, 136, 167, 0.6);
    height:250px;
    width:250px;
    position:absolute;
    left: 90%;
    bottom: -100px;

}

.div_two {
    background-color:rgba(247, 193, 162, 0.7) ;
    height:200px;
    width:200px;
    position:absolute;
    left:120%;
    bottom: -198px;
}

.div_three {
    background-color: rgba(207, 130, 213, 0.6);
    height:150px;
    width:150px;
    position:absolute;
    left: 135%;
    bottom:-50px;

}

.fixed {
    width: 100px;
    position:fixed;
    bottom:0%;
    left:50%;
    transform: translateX(-50%);
}


}